rpc-title {
    text-overflow: ellipsis;
    white-space: unset !important;
  overflow: hidden;
  }
  
  #blox_global_21980, .blox-raw-wrap {
  font-family: Cinzel, serif;
  font-size: 2.5rem;
  font-style: italic;
  text-align: center;
  line-height: 1;
  padding: 5px;
  margin: 0 0 10px 0; 
  }
  
  #blox_global_22554{ 
  margin: 0 0 0 0;
  }
  
  @import "ntarei-header.css";

  @import "nav-header.css";